# Startup Config
API_ID = "18028359"
API_HASH = "c848ddabfb56db49b7b2668d49dbf00c"
BOT_TOKEN = "7196948192:AAHDYBJMgLc1OV9nec-SA3s3--lSroMlfs0"
AUTH_CHANNEL = "-1002050904198"
DATABASE_URL = "mongodb+srv://1:1@cluster0.xf2xum6.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
SESSION_STRING = ""

# Additional CDN Bots
MULTI_TOKEN1 = "6106497404:AAHvTScrGp7EN7g3w5xc6C92mkYULnQighE"
MULTI_TOKEN2 = "6416729870:AAGohW_xEepoQuPu54522thx9RRCAyIlR1Q"
MULTI_TOKEN3 = "6404005316:AAFGwLJiHWYL3_jkxVBo6k82mk5Jo_4Z2Gk"
MULTI_TOKEN4 = "6999094297:AAE3UYjjoJPrAPoHLbb7aMwqW-ast90blgM"
MULTI_TOKEN5 = "6409449695:AAGZM4QK7LF2Q2ov-p_PdCZeJmhs6Cadyso"
MULTI_TOKEN6 = "7104467944:AAEHA-wOISRe7UM631-apidou2DJTjZ-j2Y"
MULTI_TOKEN7 = "7191584632:AAHNf2SdlEhEoaOBZKMLh-6eEo2gCL67zwQ"
MULTI_TOKEN8 = "7144409636:AAFjIgGjd0cgzw1DLDeu3vh-pjfoGZBw5Fs"
MULTI_TOKEN9 = "6588866639:AAGx2AYCv9sRxKn2nLeIoIXBF0Ue3xvSkNc"
MULTI_TOKEN10 = "6912598956:AAGgM3mVg45DAQl75A2oDwH0weXauQVtd7U"
MULTI_TOKEN11 = "6945370759:AAEflJo7RCnl0YrQM8GvUiOKEv7C9M5XCD8"
MULTI_TOKEN12 = "7107448359:AAGdsgLxSQ8puuDYGV6gNBhZsf4ozweT3Fw"
MULTI_TOKEN13 = "6808598066:AAH-Fb-NW92sDZN0MZhkeFpXXdBxJIXsLIk"
MULTI_TOKEN14 = "6653165024:AAFrNVfOsCBZoxAQQSaCF1cc-k7pvYJj_as"

# Web Config
BASE_URL = "216.225.203.86"
PORT = "8080"

# Login Details
USERNAME = "user" 
PASSWORD = "bingepvt"

# Playlist Login Details
ADMIN_USERNAME = "tg"
ADMIN_PASSWORD = "froo"

SLEEP_THRESHOLD = "60"  #Reduce FloodWait
WORKERS = "1000"         #Parallel Tasks
THEME = "vapor"        # Avl : Bootswatch.com
MULTI_CLIENT = "true"       #Leave Empty to set it False
HIDE_CHANNEL = ""       #Leave Empty to set it False
