# Startup Config
API_ID = "18028359"
API_HASH = "c848ddabfb56db49b7b2668d49dbf00c"
BOT_TOKEN = "7104467944:AAHQjDlJtK7R_1vfsyNKu_oJgciwpz4BmIo"
AUTH_CHANNEL = "-1002050904198"
DATABASE_URL = "mongodb+srv://1:1@cluster0.xf2xum6.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
SESSION_STRING = ""

# Additional CDN Bots
MULTI_TOKEN1 = "6404005316:AAEtdENkvy6a8sCts4jI5Iu-jdR2zFAtroM"
MULTI_TOKEN2 = "6999094297:AAGgyazubOlaiYdRJddERx36BIzhIp_vCL0"
MULTI_TOKEN3 = "6409449695:AAEIaBiBsco3eH0I9YMIiODw0jB5e-0qnDY"
MULTI_TOKEN4 = "6945370759:AAGdavExudaJ5nAkBV4hxxVrKjHGbJlIums"
MULTI_TOKEN5 = "7144409636:AAF-eirquo4bePsHP4G9QtvI46J5nNcs0U8"
MULTI_TOKEN6 = "7191584632:AAHna_oNVI9fQajl8E7GSiGfT0HxW_XOxys"
MULTI_TOKEN7 = "6588866639:AAHuXcKVNIHMWG6AFt9UeZWL4ytYjiEa1OQ"
MULTI_TOKEN8 = "6912598956:AAGgM3mVg45DAQl75A2oDwH0weXauQVtd7U"
MULTI_TOKEN9 = "7107448359:AAGdsgLxSQ8puuDYGV6gNBhZsf4ozweT3Fw"
MULTI_TOKEN10 = "7196948192:AAFspZQZRGneEGYEusw2jPaWi6QWZzD7BQI"
MULTI_TOKEN11 = "6106497404:AAHvTScrGp7EN7g3w5xc6C92mkYULnQighE"
MULTI_TOKEN12 = "6808598066:AAH-Fb-NW92sDZN0MZhkeFpXXdBxJIXsLIk"
MULTI_TOKEN13 = "6653165024:AAFrNVfOsCBZoxAQQSaCF1cc-k7pvYJj_as"

# Web Config
BASE_URL = "216.225.203.86"
PORT = "8282"

# Login Details
USERNAME = "user" 
PASSWORD = "1to8pvt"

# Playlist Login Details
ADMIN_USERNAME = "tg"
ADMIN_PASSWORD = "fretg"

SLEEP_THRESHOLD = "60"  #Reduce FloodWait
WORKERS = "1000"         #Parallel Tasks
THEME = "vapor"        # Avl : Bootswatch.com
MULTI_CLIENT = "true"       #Leave Empty to set it False
HIDE_CHANNEL = ""       #Leave Empty to set it False
